//body background
$body-bg: #eee;
$base-color: #F3A91D;
//settings for header
$header-bg: #5E292A;
$header-nav-link-color: #fff;
$header-nav-link-color-hover: lighten($header-nav-link-color, 20%);
$dropdown-menu-link-color: #009be0;
$dropdown-menu-link-color-hover: lighten($dropdown-menu-link-color, 20%);
//settings for hamburger
$hamburger-color: #009be0;
$hamburger-width: 40px;
$hamburger-height: 30px;
$hamburger-height-line: 3px;
//settings on promo box
$promo-box-text-color: #fff;
$promo-box-text-shadow: 0px 2px 0px rgba(77, 77, 77, 0.4);
$find-btn-bg: transparent;
$find-btn-bg-hover: rgba(0, 0, 0, .2);
$find-btn-border: #fff;
$find-btn-color: #fff;
$find-btn-color-hover: $find-btn-color;
//search input on promo box
$search-input-background: rgba(255,255,255,0.6);
$search-input-border: #fff;
$search-input-color: #4b4b4b;
$search-button-background: none;
$search-button-border: #fff;
$search-button-color: #95b2d6;
$search-height: 55px;
//settings for footer
$footer-bg: #5E292A;
$footer-nav-link-color: #fff;
$footer-nav-link-color-hover: rgba(255,255,255, .8);
$footer-support-text-and-logo: #fff;
$footer-social-link-bg: #898989;
$footer-social-link-bg-hover: $base-color;
//btn
$theme-btn-bg: #df8844;
$theme-btn-text-color: #fff;
$theme-btn-bg-hover: none;
$theme-btn-shadow: darken($theme-btn-bg, 20%);
//btn-white
$theme-btn-white-bg: #fff;
$theme-btn-white-border: #df8844;
$theme-btn-white-text-color: #df8844;
$theme-btn-white-text-color-hover: #fff;
$theme-btn-white-bg-hover: #df8844;
// link color
$theme-link: #009be0;
$theme-link-hover: lighten($theme-link, 20%);
//settings for bg content pages
$theme-content-bg: #eee;
//settings for input icons
$theme-input-icon: #009be0;
//user link color
$theme-user-link: #009be0;
$theme-user-link-hover: lighten($theme-user-link, 20%);
//settings fo courses on main page and search
$courses-border-color: #df8844;
$course-hover-bg: rgba(0, 0, 0, .5);
$course-link-color: #000;
$course-bg: #fff;
//certificate
$ribbon-corners-color: #cf7833;
$ribbon-triangle-color: #df8844;
$certificate-borders-color: #df8844;
//our overrides for settings we want to change
$img-path: "../images" !default;
$font-path: "../fonts" !default;
$delete-button: red;
$white: #fff;
