// button type 1

.register-button, /* register page */
.login-button, /* login page */
.wiki-wrapper section.wiki .settings-form .btn, /* wiki settings page */
.course-view .page-header-secondary .form-actions .btn,
.instructor-dashboard-wrapper-2 .bottom-bar input.add[type="button"],
.dashboard .main-container .my-courses .course .details .enter-course,
.wrapper-action-more button.action-more,
.btn-link.all-topics,
.wiki-wrapper section.wiki .btn,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong {
	transition: all 0.2s ease;
	display: inline-block;
	background: $theme-btn-bg !important;
	color: $theme-btn-text-color !important;
	text-transform: uppercase;
	border-radius: 40px !important;
	text-shadow: none !important;
	box-shadow: none !important;
	border: 3px solid $base-color !important;
	text-transform: uppercase !important;
	cursor: pointer;
	font-size: 15px !important;
	&:active,
	&:focus,
	&:focus:hover,
	&:hover {
		background: $theme-btn-bg-hover !important;
		color: $base-color !important;
	}
}

.wrapper-messages-primary .message.message-upsell .action-upgrade {
	border-radius: 40px;
}

//button type 2

#expand-collapse-outline-all-button,
.new-post-btn,
section.discussion .search-button,
.course-info .container .wrap-instructor-info .instructor-info-action {
	border: 3px solid $base-color !important;
	border-radius: 40px !important;
	color: $base-color !important;
	line-height: 1.1;
	text-transform: uppercase !important;
	cursor: pointer;
	font-size: 15px !important;
	text-decoration: none !important;
	&:active,
	&:focus,
	&:focus:hover,
	&:hover {
		background: $theme-btn-bg !important;
		color: #fff !important;
	}
}

.btn {
	font-weight: normal !important;
	font-size: 15px !important;
}
