.login-register-content {
	background: none;
}
.login-register {
	max-width: 1170px;
	padding: 0 15px;
	width: 100%;
	box-sizing: border-box;
}

.register-button,
.login-button {
	font-size: 16px !important;
	font-weight: normal !important;
	min-width: 150px;
	padding: 5px 20px !important;
}
